.tab {
    -fx-pref-width: 120;
}

.tab:hover {
    -fx-cursor: hand;
}

.star-icon {
    -fx-fill: #FE774D;
    -fx-padding: 10.0;
    -fx-cursor: hand;
}

.item-tag {
    -fx-padding: 5px 0px 10px 0px;
    -fx-font-size: 13px;
    -fx-cursor: hand;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #355C7D;
}

.item-tag:hover {
    -fx-background-color: rgba(179,210,224, .5);
}

.file-name {
    -fx-font-size: 15px;
}

.group-header {
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-padding: 5px;
}

.dimmed {
    -fx-text-fill: #9E9E9E;
    -fx-fill: #9E9E9E;
}

.fav-button {
    -fx-alignment: center;
    -fx-pref-width: 50px;
    -fx-pref-height: 40px;
}

.expand-button {
    -fx-alignment: center;
    -fx-pref-width: 30px;
    /*-fx-pref-height: 40px;*/
}

.file-details-holder > *{
    -fx-padding: 5px 20px 5px 5px;
    -fx-background-color: #99B898;
    -fx-border-insets: 0px 15px 0px 0px;
    -fx-background-insets: 0px 15px 0px 0px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.forum-details-holder > *{
    -fx-padding: 5px 20px 5px 5px;
    -fx-background-color: #355C7D;
    -fx-border-insets: 0px 15px 0px 0px;
    -fx-background-insets: 0px 15px 0px 0px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
}

.noti-details-holder > *{
    -fx-padding: 5px 20px 5px 5px;
    -fx-background-color: #FF847C;
    -fx-border-insets: 0px 15px 0px 0px;
    -fx-background-insets: 0px 15px 0px 0px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.des-details-holder > *{
    -fx-padding: 5px 20px 5px 5px;
    -fx-background-color: #FFA726;
    -fx-border-insets: 0px 15px 0px 0px;
    -fx-background-insets: 0px 15px 0px 0px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.lessonPlan-details-holder > *{
    -fx-padding: 5px 20px 5px 5px;
    -fx-background-color: #BA68C8;
    -fx-border-insets: 0px 15px 0px 0px;
    -fx-background-insets: 0px 15px 0px 0px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.background-pane {
    -fx-background-image: url("summer.jpg");
    -fx-background-size: cover;
}

.title-label {
    -fx-text-fill: white;
}

.content-pane > .viewport {
    -fx-background-color: transparent;
}

.content-pane {
    -fx-background-color: rgba(255, 255, 255, 0.6);
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
    -fx-border-radius: 5px 5px 5px 5px;
    -fx-background-radius: 5px 5px 5px 5px;
}

.row-wrapper {
    -fx-alignment: top-center ;
    -fx-padding: 0px 10px 5px 10px;
    -fx-border-insets: 0px 0px 5px 0px;
    -fx-background-insets: 0px 0px 5px 0px;
}

.row-value {
    -fx-font-size: 15px;
    -fx-wrap-text: true;
    -fx-pref-width: 500px;
}

.row-field {
    -fx-font-size: 15px;
    -fx-pref-width: 100px;
    -fx-font-weight: bold;
    -fx-min-width: 120px;
}

.html-content {
    -fx-pref-width: 500px;
    -fx-pref-height: 300px;
}

.title-row {
    -fx-alignment: top-center;
    -fx-text-alignment: center;
    -fx-max-width: 600px;
    -fx-wrap-text: true;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-padding: 0px 10px 10px 10px;
    -fx-border-insets: 0px 0px 10px 0px;
    -fx-background-insets: 0px 0px 10px 0px;
}

.post-body {
    -fx-wrap-text: true;
    -fx-font-size: 15px;
    -fx-padding: 10px;
}

.post-body-box {
    -fx-alignment: top-right;
    -fx-border-radius: 0px 0px 10px 10px;
    -fx-background-radius: 0px 0px 10px 10px;
    -fx-font-size: 13px;
    -fx-padding: 10px;
}

.post {
    -fx-padding: 10px 20px 10px 20px;
    -fx-border-insets: 10px 20px 10px 20px;
    -fx-background-insets: 10px 20px 10px 20px;
}

.new-post {
    -fx-background-color: rgba(91,134,229, 0.5);
}

.old-post {
    -fx-background-color: rgba(137,247,254, 0.5);
}

.poster-box-wrapper {
    -fx-max-width: 300px;
    -fx-wrap-text: true;
    -fx-font-size: 15px;
    -fx-background-color: rgba(112,112,112, 0.5);
    -fx-padding: 10px 20px 10px 20px;
    -fx-border-radius: 10px 10px 0px 0px;
    -fx-background-radius: 10px 10px 0px 0px;
}

.wrap-text {
    -fx-wrap-text: true;
}

.header-title {
    -fx-font-size: 17px;
}

.hyperlink-style {
     -fx-text-fill: #0D47A1;
 }

.hyperlink-style:hover {
    -fx-cursor: hand;
}

.hyperlink-style-resource {
    -fx-font-size: 20px;
    -fx-text-fill: #0D47A1;
    -fx-min-height: 40;
    -fx-wrap-text: true;
}

.hyperlink-style-resource:hover {
    -fx-cursor: hand;
    -fx-underline: true;
}

.title-value {
    -fx-font-weight: bold;
    -fx-font-size: 17;
}

.fav-item {
    -fx-background-color: rgba(108,91,123, .5);
}

.selected-item {
    -fx-background-color: rgba(179,205,224, .9);
}